[Desktop Entry]
Name=Xkeycaps
Comment=A keymap editor for the X Window System
Comment[pl]=Edytor map klawiatury dla Systemu X Window
Icon=xkeycaps.png
Exec=xkeycaps
Terminal=0
Type=Application
# vi: encoding=utf-8
