[Desktop Entry]
Name=xkeycaps
Comment=a keymap editor for the X Window System
Comment[pl]=edytor map klawiatóry dla X Swindow System
Exec=/usr/X11R6/bin/xkeycaps
Terminal=0
Type=Application
